@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --main-color: #3867d6;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #444;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background: #222;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    color: var(--main-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    width: 100%;
}
.header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}
.header .logo span{
    color: var(--main-color);
}
.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}
.header .navbar a:hover{
    color: var(--main-color);
}
#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 10001; /* keeps button clickable */
}

/* Responsive styles */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-bars{
        display: block;
    }
    .header{
        padding: 1.5rem 0.5rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        width: 100%;
        transition: clip-path 0.4s ease;
        z-index: 10000;
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .fa-times{
        transform: rotate(180deg);
    }
    .header .navbar a{
        display: flex;
        background: #222;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .home .home-slider .swiper-slide{
        width: 27rem;
    }
    .contact form .inputBox input{
        width: 100%;
    }
}
